/* Global Sass */

body {
	line-height:2em;
}

footer {
	margin-top:40px;
}

#content {
  padding: 30px 15px;
  background:none;
  box-shadow:none;
}

.navbar {border-bottom:3px solid $brand-primary;}

.blvd-tabwrap {
	display:none;
}

.navbar-header {
  float:none;
  padding: 15px 0 0;
}

.navbar-nav {
  float: left;
  margin: 60px 0 0;
  border-top: solid 1px #eee;
  width: 98%;

  li  {

  	margin:0;

  	a {
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  margin-left:0;
	  padding:0 30px 0 5px


	}

	li a {
	  		padding:8px 12px;
	  		text-transform: none;
	  	}

   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:3em;
	letter-spacing:3px;
}

.hide {
	display:none;
}


.attachment-nbr_thumb {
	height:200px;
}




/* Homepage Sass */

.widget_promoted_listings_widget,
#hji-hood-grid-widget-2,
#latest-posts-widget-2,
.widget_gf_display_widget {
	padding:25px 25px;
}

.homepagetext {
	padding:25px 40px;
}
	
.quick-search-widget-wrapper {
	background: transparent !important; 
	padding:10px 10px 45px 10px; 
	box-shadow:none; 
	margin-top:250px;



		.submit-btn-wrapper {
		  color:#000;
		}

		.hji-adv-opt-toggle-wrap {
			margin: 20px 0 0 7px !important; 
			font-size:0.9em; 
			text-decoration:none
		}

		.save-search-btn {
			color:#333;
		}

		.adv-options-wrapper .hji-fieldwrap {
		  padding: 0 5px;
		  vertical-align: top;
		  float:none;
		  display: inline-block;
		  width:24.9%;
		}

		.hji-distressed-wrap {
			margin-left:840px;
		}
}

.blvd-tabs-container.tab-content .widget_spatialmatch-widget-home-search input.button, 
.btn, 
.home .home-box .home-box-action, 
a.spatialmatch-popup-link {

  margin: 15px 0 0 0;
}



.latest-posts-widget ul {
	margin:30px 0 20px 0;

		li {
		float:left;
		width:30%;
		margin:0 3% 0 0;
		border-bottom:none;
	}
}

.homepagecontactbox {
	float:right;
	width:35%;
	border:solid 10px #dfebf3;
	background:#f1f7fb;
	vertical-align:top;
	margin:-100px 0 0 0;

	img {
		float:left;
	}
	h3,
	ul {
		float:right;
		clear: right;
		width: 65%;
		text-align: left;
	}

	h3 {
		font-size:1.4em;
		font-weight:600;
		letter-spacing: 0px;
	}

	ul {
		margin:0;
		padding:0;


	li {
			list-style:none;
			margin: 0;
			padding: 0;
			line-height: 1.6em;
			font-size: 0.95em;
			color: #666
		}
	}
}

.homepagetext .textwidget p {
	float:left;
	width:60%;
}

.home {
	.hjifh_grid_display {

		.img-wrap-outer {
			padding:18px;
		}
		
		h2 {
			text-transform: none;
			font-size: 1.3em;
			padding:0 5px;
			text-align: left;

			a {
				color:#666;
				padding:0;
			}
		}
	}

	.bx-wrapper .bx-viewport {
		background:none;
		border:none;
		box-shadow:none;
		margin: 20px 0;
		height: 185px !important;
	}

	.grid-view .idx-result-snippet {
		border:none;
	}

	h4.listing-title {
		letter-spacing: 0;
		text-transform: none;
		font-size: 1em;
		line-height: 2em;

		a {
			color:#666;
		}
	}
}

.latest-posts-widget img {
  float: none;
  margin: 10px 10px 15px 0;
  max-height: 150px;
  width: 100%;
}


.bx-wrapper .main-details {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	z-index:1000
}



/* Footer Sass */


footer .textwidget {
	text-align:left;

	img {
		float:left; 
		width:75%; 
		display:block; 
		margin:40px 25% 40px 0
	}

	p {
		color: #7c7e83; 
		font-weight:100; 
		font-size:0.825em; 
		display:block;
	}
}

footer .widget-title {
	text-align:left; 
	margin:20px 0 20px 0;
	
	h3 {
		font-weight:100; 
		color:#dcdee2; 
		text-transform:uppercase; 
		font-size:1.4em
	}
}

footer {
	.blvd-tabs-container.tab-content .widget_spatialmatch-widget-home-search input.button, 
	.btn, .home .home-box .home-box-action, 
	a.spatialmatch-popup-link {
	  margin:0;
	  box-shadow:none;
	}

	.search-form {
		float:left;
		margin:0;
	}
}

footer {

	ul {
	margin:0 0 20px 0; 
	padding:0;

		li:before {
			content: "\003e \0020"; 
			padding-right:5px
		}

		li {
			margin:0; 
			padding:0; 
			text-align:left; 
			float:left;
			width:50%;
			list-style: none;
			color:#fff !important; 
			line-height:2.2em;
			
			a {
				font-size:0.95em; 
				font-weight:100; 
				color:#fff !important;
			}

			a:hover {
				color:#00aed9 !important; 
				text-decoration:none
			}

			li {
				display:none
			}
		}
	}
}

.fineprint {
	margin-top:30px !important;
}


/* Sidebar */

#sidebar {
	line-height:1.8em;
	font-weight:100;
	border-left:solid 1px #eee;
	padding:20px 0 30px 20px;

	h3 {
		font-size:1.8em;
	}
	h4 {
		font-weight:400;
		margin:0;
		font-size:1em;
	}
	h5 {
		font-size: 1em
	}

	.widget-container {
		margin-bottom: 40px;
	}

	
	.widget_pages ul {
	margin:0; 
	padding:0;

		li:before {
			padding-right:5px
		}

		li {
			margin:0; 
			padding:0; 
			text-align:left; 
			list-style: none;
			border-bottom: solid 1px #dedede;
			color:#666; 
			line-height:2.6em;
			
			a {
				font-size:1em; 
				font-weight:100; 
				color:#666
			}

			a:hover {
				color:$brand-primary; 
				text-decoration:none
			}

			li {
				display:none
			}
		}
	}
}


/* Mobile Sass */

@media screen and (max-width: $screen-lg){


	.quick-search-widget-wrapper {
		padding:10px; 
		background-image:none; 
		box-shadow:none; 
		margin-top:200px;
		
		.hji-adv-opt-toggle-wrap {
		  font-size: 0.8em;
		  margin: -73px 0 0 0;
		  text-align: right;
		  text-decoration: none;
		}

		.hji-fieldwrap {
		  display: block;
		  line-height: 2em;
		  margin: 0 20px;
		  padding: 0;
		  width: 90%;
		  float: none;
		}

		.hji-items-1 .hji-items-2, 
		.hji-items-2 .hji-items-2, 
		.hji-items-3 .hji-items-2, 
		.hji-items-4 .hji-items-2 {
		  display: table;
		  float: none;
		  width: 90%;
		}
	
		.hji-adv-opt-toggle-wrap {
		  font-size: 0.8em;
		  text-decoration: none;
		  margin:10px 20px 0 0;
		  text-align:none;
		}
	}
	
	.adv-options-wrapper .adv-options {
		display:block; 
		float: none;
		height:300px; 
		max-height:300px; 
		width:100%; 
		background-color: transparent; 
		margin: 10px 0 0 10px !important; 
		height:100px;
		
		.hji-keyword-wrap,
		.hji-fieldwrap,
		.hji-items-2 {
			width:103% !important;
		}
	}
	
	.submit-btn-wrapper {
		margin:20px auto 0 auto !important; 
		float:none;
	}


}