/* ==========================================================================
  Global
  ========================================================================== */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	@include box-shadow( -3px 3px 0 0 rgba(0, 0, 0, 0.25) !important );
}

.black-text {
	color: #000;
}

a {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.entry-content {
	a {
		text-decoration: underline;
	}
}

/* ==========================================================================
  Variables
  ========================================================================== */
$brand-primary-light: lighten( $brand-primary, 20% ) !default;
$brand-primary-dark: darken( $brand-primary, 20% ) !default;

$brand-second-light: lighten( $brand-second, 20% ) !default;
$brand-second-dark: darken( $brand-second, 20% ) !default;

$brand-third-light: lighten( $brand-third, 20% ) !default;
$brand-third-dark: darken( $brand-third, 20% ) !default;


/* ==========================================================================
  Header
  ========================================================================== */



 /* ==========================================================================
   Shrinking Header v2
   ========================================================================== */
@media (min-width: $screen-sm-max) {
	.banner.shrink {

		.navbar-header {
			width: auto;
		}

		a.navbar-brand {
			margin-top: -17px;
			padding: 0;
			width: 100%;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			img {
				width: 80px;
			}
		}

		.center-logo {
			width: 0;
		    img {
		    	height: 0;
		    	width: 0;
		    	-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
		    }
		}

		.contact-phone {
			width: 0;
		    font-size: 0px;
		    padding: 10px 0;
		    -webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			line-height: inherit;
		}
	}
}
@media (max-width: $screen-lg-min) {
	.banner.shrink {

		.navbar-nav > li > a {
			font-size: 0.8em;
			line-height: 3em !important;
		}
	}
}


#content {
	background-color: #fff;
	padding-bottom: 20px;
	@include box-shadow( 0 5px 14px rgba(0,0,0,0.5) );
}



/* ==========================================================================
   Custom Buttons
   ========================================================================== */
.btn {
    @include box-shadow( -3px 3px 0px 0px rgba(0,0,0,0.25) );
}

.quick-search-bar {
	@include make-row;
}


 
 /* ==========================================================================
   Homepage Styles
   ========================================================================== */
.home {
	#content {
		background-color: transparent;
		padding-bottom: 0;
		@include box-shadow(none);
	}

	.content-bottom {
		.row {
			@include box-shadow( 0 0 10px 5px rgba(0,0,0,0.5) );
		}
	}

	.featured-title {
		h2, h3, h4 {
			margin: 20px 0;
			font-size: 3em;
			color: #fff;
			text-align: center;
		}
	}

	.featured-properties {
		background-color: $brand-primary;
		margin-bottom: 50px;
	}

	.home-box {
		@include box-shadow( 4px -3px 10px rgba(0,0,0,0.45) );
		text-align: center;
		max-height: 300px;
		overflow: hidden;

		a {
			display: block;
			padding: 60px 45px 35px;
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}

		i {
			font-size: 3em;
		}

		h3 {
			font-size: 2em;
		}

		&.home-cta-1 {
			background-color: $brand-second-light;
			z-index: 3;
		}

		&.home-cta-2 {
			background-color: $brand-second;
			z-index: 2;
			.btn {
				background-color: $brand-primary;
				border-color: $brand-primary;
				&:hover {
					background-color: darken( $brand-primary, 15% );
					border-color: darken( $brand-primary, 15% );
				}
			}
		}

		&.home-cta-3 {
			background-color: $brand-second-dark;
		}
		
		// Makes buttons out of semantic markup within cta boxes
		.home-box-action {
			@extend .btn;
			@extend .btn-lg;
			@extend .btn-primary;
		}
	} // end of .actionbox

} // end of .home



/* ==========================================================================
   rIDX Quick Search Widget - Theme Specific
   ========================================================================== */
.home .widget_sm_quicksearch_widget {
	background-color: #000;

	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center top, ellipse farthest-side, #333333 0%, #000000 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center top, ellipse farthest-side, #333333 0%, #000000 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center top, ellipse farthest-side, #333333 0%, #000000 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #333333), color-stop(1, #000000));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #333333 0%, #000000 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-side at center top, #333333 0%, #000000 100%);

   	// these are not working with the compiler so we use those above
	// @include filter-gradient(#353535, #000000, horizontal);
	// @include background-image(radial-gradient(750px top, ellipse farthest-side,  #353535 0%,#000000 100%,#000000 100%));
   	
   	@include box-shadow( 0px -1px 8px 1px rgba(0,0,0,0.5) );
   	margin: 20px 0;
   	color: #fff;

   	a {
   		color: #fff;
   	}

	@media (min-width: $screen-md-max) {
		h3.widget-title {
	   		border-right: 1px solid;
			display: inline-block;
			padding-right: 12px;
	   	}
		.adv-options-wrapper {
			a.adv-options-toggle {
				position: absolute;
				top: 24px;
				left: 235px;
			}
		}
	}

}



/* ==========================================================================
  IDX Results Listings Displays - Theme Specific
  ========================================================================== */
.idx-result-snippet-wrapper {
	.listing-top-title {
		display: none;
	}
	.listing-slider-title {
		display: block;
	}
}
.idx-grid {
	.idx-result-snippet-wrapper {
		.listing-top-title {
			display: block;
		}
		.listing-slider-title {
			display: none;
		}
	}
}



/* ==========================================================================
   IDX Listings BX Slider - Theme Specific
   ========================================================================== */
 .hjitw-fullwidth {
	background-color: $brand-second;
	&.white {
		background-color: #fff;
		max-height: none;
	}
 }
 
 // custom vegas blvd theme slider
.bx-wrapper {
	max-width: 100% !important;

	.bx-viewport {
	    margin-bottom: 0;
	    height: 370px !important;
	}

	.idx-result-snippet .idx-result-snippet-wrapper {
		margin: 0;
		padding: 0;
		.listing-top-title {
			display: none;
		}
		.listing-slider-title {
			display: block;
		}
	}
	
	.idx-grid .idx-result-snippet-wrapper {
		.photo-wrap {
			height: 370px !important;
	    	min-height: 0 !important;
			overflow: hidden;
			img.main-photo {
				max-width: none;
		        min-height: 0 !important;
		        margin-left: -75px;
		        margin-top: -50px;
		        width: 200% !important;
			}
		}
	}

	.listing-slider-title {
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	.main-details {
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		opacity: 0;
		background: fade-out( $brand-second, 0.5 );
		padding: 5px 10px;
		width: 100%;
		height: 100%;
		transform: rotateX(45deg);
		transform-origin: center bottom 0;
    	transition: all 0.1s linear 0.2s;

    	.idx-row {
    		&.odd,	
    		&.even {
    			background-color: transparent !important;
    		}
    		.cell,
    		.label {
    			color: #fff !important;
    			width: 45%;
    		}
    	}

		// Hides the open house flag because there is no room in the slideshow design
    	.open_house_flag {
    		display: none;
    	}

	}
	
	// Floats slider controls outside slider and removes background image for text
	@media ( min-width: $screen-md-min ) {
		.bx-controls {
			.bx-next, .bx-prev {
				background: none;
				display: block;
				color: #fff;
				&:hover {
					color: $link-color;
				}
				&:before {
					font-size: 3em;
					line-height: 1em;
					text-decoration: none;
					text-indent: initial;
					display: block;
					height: 1em;
					width: 1em;
					font-family: FontAwesome;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.bx-prev {
				left: -45px;
				&:before {
					content: '\f104';
				}
			}
			.bx-next {
				right: -60px;
				&:before {
					content: '\f105';
				}
			}
		}
	}
} // end of .bx-wrapper

.idx-result-snippet-wrapper:hover {
	.main-details {
		opacity: 1;
		transform: rotateX(0deg);
	}
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   	background: $footer-background;
   	padding: 10px 0;
   	color: #fff;
   	text-align: center;
   	
   	a {
   		color: $brand-second;
   	}
   	
   	ul.nav {
   		margin: 10px 0;
   		li {
   			display: inline-block;
   			float: none;
   		}
   	}
}

/* plugin stuff */
#result_container {
	div.unit_info {
		width: 100%;
	}
}